<div class="py-5">
    <div class="container">
        <h1 class="header-text text-center justify-content-center" style="font-weight: 200; color: rgb(78, 78, 78)">Somos una empresa innovadora que busca llevar el
            sistema de probador virtual a las tiendas departamentales como alternativa a los probadores convencionales.
        </h1>
        <br>
        <br>
        <div class="row">
            <div class="py-5 col-md-6 text-center">
                <h1 class="display-4">Misión</h1>
                <hr>
                <p class="header-text-content" style="font-weight: 200; font-size: 26px; color: rgb(78, 78, 78)">Ofrecer a nuestros clientes la experiencia de probarse la ropa de
                    manera virtual, además , ofrecer combinaciones para su outfit para
                    cumplir las necesidades y exigencias a la hora de comprar ropa.
                </p>
            </div>
            <div class="py-5 col-md-6">
                <img src="../img/select3.svg" alt="Imagen" class="img-fluid d-sm-block" width="100%">
            </div>

            <div class="py-5 col-md-6">
                <br>
                <img src="../img/crecer3.svg" alt="Imagen" class="img-fluid d-sm-block" width="100%">
            </div>

            <div class="py-5 col-md-6 text-center">
                <h1 class="display-4">Visión</h1>
                <hr>
                <p class="header-text-content" style="font-weight: 200; font-size: 26px; color: rgb(78, 78, 78)">
                    Ser una empresa líder y reconocida en la venta del probador virtual para las tiendas
                    departamentales, así como, lograr extendernos a la venta de probadores virtuales en casa
                    proporcionando cada día un servicio de excelencia a nuestros clientes para la expansión de Fitting
                    Room.
                </p>
            </div>

        </div>
    </div>
</div>