<div class="col-md-4 mx-auto">
    <div class="alert alert-primary mt-3" role="alert">
        For testing you can type the following code: <strong>12347</strong>
    </div>
    <form class="form-inline pb-5" method="POST">
        <div class="form-group mb-2 px-3">
            <input class="form-control" type="number" placeholder="Escanea un código" name="code">
        </div>
        <div class="px-3">
            <button type="submit" class="btn btn-info mb-2 px-3" id="buscar">Buscar</button>
        </div>
    </form>
</div>

<div class="text-center">
    <br>
    <br>
    <img src="https://res.cloudinary.com/dpk1tokvy/image/upload/v1596167908/logosFR/mirror2_h7qw1o.svg" width="50%">
</div>


<br>
<br>
<br>
