<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center justify-content-center align-self-center">
                <h1 class="display-1">Fitting Room</h1>
                <br>
                <h2 class="display-5 main-texto" style="color: rgb(78, 78, 78); font-weight: 300">Una nueva forma de interactuar con el mundo de la moda.</h2>
                <br>
                <h1 class="texto-animado">
                    <a class="typewrite" data-period="2000" style="color: rgb(226, 9, 226)"
                        data-type='[ "Prueba, Combina y Compra", "Realidad Aumentada", "Inovación", "Moda" ]'>
                        <span class="wrap"></span>
                    </a>
                </h1>
                <br>
                <br>
                <hr>
                <a href="/search" class="btn btn-outline-info"> Probar App</a>
                <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal"> Ver
                    Video</a>
                <hr>
            </div>
            <div class="col-md-6">

                <img src="https://res.cloudinary.com/dpk1tokvy/image/upload/v1596167909/logosFR/mirror3_log9lz.svg" alt="Imagen" class="img-fluid d-none d-sm-block" width="90%">
            </div>
        </div>
    </div>
</div>


<br>
<br>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conoce Fitting Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://res.cloudinary.com/dpk1tokvy/video/upload/v1595747179/prendas/video_fittingroom_o13mj8.mp4" id="iframeVideo"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>